{% extends "base.html" %}
{% load model_filters %}

{% block title %}Content{% endblock %}

{% block content %}
<section class="instance_list_wrapper contenttype_list_wrapper"> 
  <header class="instance_list_header contenttype_list_header"> 
    <h1>The Pepulator Factory</h1> 
  </header> 
 
  <ul class="instance_list contenttype_list"> 
      <li class="instance_list_item contenttype_list_item contenttype_11_list_item"><a href="/pepulators/">Pepulators</a></li>     
      <li class="instance_list_item contenttype_list_item contenttype_12_list_item"><a href="/distributors/">Distrbutors</a></li> 
  </ul> 
</section>
{% endblock %}

