<section class="model_instance_detail_wrapper {{ model }}_detail_wrapper">
  <header class="model_instance_header {{ model }}_header">
    <h1>{{ instance }}</h1>
  </header>

  <div class="model_instance_detail {{ model }}_detail">
    {% for name, value in fields %}
      <div class="model_instance_field {{ model }}_{{ name }}">
        <span class="model_instance_field_label {{ model }}_{{ name }}_label">{{ name|capfirst }}:</span>
        <span class="model_instance_field_value {{ model }}_{{ name }}_value">{% spaceless %}
        
          {% if value.get_absolute_url %}
            <a href="{{ value.get_absolute_url }}">{{ value }}</a>
          {% else %}
            {{ value }}
          {% endif %}
          
        {% endspaceless %}</span>
      </div>
    {% endfor %}
  </div>
</section>
